.values{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 30% auto;
}

.values .time{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: rgb(74, 74, 248);
    font-weight: 500;
    font-size: 20px;
}

/* input{
    width: 60vh;
    height: 10vh;
    font-size: 2rem;
} */
/* 
button{
    margin: 0 auto;
    width: 10rem;
} */